<h1>餐廳後台</h1>

<ul class='nav nav-tabs my-4'>
  <li class='nav-item'>
    <a class='nav-link {{#if (isEqual route 'restaurants')}}active{{/if}}' href='/admin/restaurants'>
      Restaurants
    </a>
  </li>
  <li class='nav-item'>
    <a class='nav-link {{#if (isEqual route 'users')}}active{{/if}}' href='/admin/users'>
      Users
    </a>
  </li>
  <li class='nav-item'>
    <a class='nav-link {{#if (isEqual route 'categories')}}active{{/if}}' href='/admin/categories'>
      Categories
    </a>
  </li>
</ul>